.detalhe1{
    position:absolute;
    width: 31.96vw;
    height: 82.19vh;
    top: 18.165%;
    left: 15.734%;
    z-index: 300;
}
.detalhe2{
    width: 28.67vw;
    height: 85.13vh;
    top : -0.089% ;
    left: 71.325%;
    position:absolute;
}
@media screen and (max-width: 1450px) {
    .detalhe1{
        top: 18.30%;
        left: -1.18%;
    }
    .detalhe2{
        top: -0.5%;
        left: 82.84%;
    }
}

    @media screen and (max-width: 950px) {
        .detalhe2{
            display: none;
        }
        .detalhe1{
            width: 307px;
            height: 426px;
            top: 35%;
            left: 30%;
            transform: translateY(75%) translateX(0%);
        }
    }
    
    @media screen and (max-width: 550px) {
        .detalhe1{
            height: 480px;
            top: 50%;
            left: 16%;
            transform: translateY(55%) translateX(0%);            

        }
    }
    
    