.detalhe1{
    position:absolute;
    width: 30.57vw;
    height: 923px;
    top: 204px;
    left: 15.734%;
    float: left;
    z-index: 300;
}
.detalhe2{
    width: 31.51vw;
    height: 956px;
    top : -1px ;
    left: 72.67%;
    float: right;
    position:absolute;
}
@media screen and (max-width: 1450px) {
    .detalhe1{
        top: 205px;
        left: -1.18%;
        width: 47.01vw;
    }
    .detalhe2{
        left: 82.84%;
    }
}

@media screen and (max-width: 1150px) {
    .detalhe1{
        height: 730.38px;
        width: 67.81vw;
        top: 504px;
        left: 20.56%;          
    }
    .detalhe2{
        display: none;
    }
}
    
    @media screen and (max-width: 500px) {
        .detalhe1{
            height: 500.38px;
            width: 107.81vw;
            top: 554px;
            left: 1.56%;          
        }
    }
    
    