.header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1167px;
    height: 48px;
    margin: 0 auto;
    padding: 10px;
}
.buttonMenu{
    display: none;
}
.menuHidden{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1167px;
    height: 48px;
    margin: 0 auto;
}
.menuHidden a{  
    padding: 7px;
    color: white;
    text-decoration: none;
    font-family: Open Sans, ;
    letter-spacing: -2%;
}
.link:hover{
    border-bottom: 1px solid black;
    color: white;
}
.buttonGet{
    width: 165px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffD74f;
    color: #6F48Ec;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    border: none;
    z-index: 1001;
}
@media screen and (max-width: 1440px) {
    .header{
        width: 100vw;
        padding: 15px;
}
}
@media screen and (max-width: 950px) {
    .buttonMenu{
        display: flex;
        gap: 20px;
        
    }
    .menuHidden{
        display: none;
    }
}
