.containerModalMenu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background: #200E64;
    flex-direction: column;
    color: white;
    align-items: center;
    display: none;
}
.containerModalMenu header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 272px;
    margin: 15px auto;
    margin-bottom: 185px;
}
.containerModalMenuButton{
    width: 14px;
    border: none;
    color: white;
    background: #200E64;
    
}
.modalMenuOpcao{
    width: 272px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.modalMenuOpcao button{
    height: 48px;
    width: 272px;
    border-radius: 4px;
    background: #FFD74F;
    border: none;
    color: #6F48EC;
    font-size: 14px;
    font-weight: 700;
    margin-top: 60px;
}
.modalMenuOpcao a{
    width: 272px;
    color: white;
    text-decoration: none;
    font-size: 21px;
}
.modalMenuOpcao a:hover{
    color: white;
    border-bottom: 2px solid white;
}
.modalMenuOpcao li:last-child{
    margin-bottom: 60px;
}
.modalMenuAparecer{
    display: flex;
}
.modalMenuSumir{
    display: none;
}

