footer{
    text-align: center;
    background-color: white;
    height: 60px;
    margin-top: 11.3%;
    padding: 10px;
}
footer h2{
    font-size: 14px;
    color: #343434;
}
.footer-mobile{
    display: none;
}
.eduick{
    font-weight: bold;
}
@media screen and (max-width:700px) {
    .footer-mobile{
        display: block;
    }
    .footer{
        display: none;
    }

}