.header{
    max-width: 79.16vw;
    margin: 0 auto;
    height:5.7vh;
    background: #7A57FD;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 155px;
    color: white;
    
}
.sumir{
    display: none;
}
.aparecer{
    display: flex;
}
.container-change{
    display: none;
}
.logo{
    width: 113px;
    height: 18.66px;
    margin-right: 48px;
}
a{
    text-decoration: none;
    color: white;
}
.div-logo{
    display: flex;
    align-items: center;
}
.div-avatar{
    display: flex;
    align-items: center;
}
.button-avatar{
    height: 34px;
    width: 186px;
    border-radius: 4px;
    border: none;
    background: #200E64;
    color: white;
    font-size: 11px;
    letter-spacing: -2%;
    font-weight: 700;
    margin-right: 28px;
}
.avatar{
    height: 38px;
    width: 34px;
}
.menu-mobile{
    display: none;
}
@media  screen and (max-width: 950px) {
    .div-logo , .div-avatar{
        display: none;
    }
    .header{
       max-width: 100vw;
       height: 64px;
       margin: 0 auto;
       padding: 20px;
    }
    .menu-mobile{
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
        align-items: center;
    }
    .logo-mobile{
        height: 14.65999984741211px;
        width: 88.7758560180664px;
    }
    .menu-mobile-opcao{
        width: 130px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .container-change{
        z-index: 1000;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: #FFFFFF;
        opacity: 0.8;
        position: absolute;
        display: flex;
        flex-direction: column;
     
    }

    .change{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 58px;
        background-color: white;
        z-index: 2000;
    }
    .change a{
        width: 26px;
        height: 12px;
        background-color: rgba(0,0,0,0.01);
    }
    .setaFechar{
            width: 28px;
            height: auto;
            margin-right: 12px;
    }
    .seta{
        width: 45px;
      
    }
    .change h2{
        font-size: 11px;
        color: #7A57FD;
        margin-left: 12px;
    }
   
}