.section{
    max-width: 79.16vw;
    margin: 0 auto;
    height: 235px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
}
.imagemMesa{
    width: 209px;
    height: 173px;
    margin-right: 14%;
}
.section-texto{
    margin-left: 118px;
    height: 88px;
    width: 521px;
    display: flex;
    flex-direction: column;
}
.section-texto h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 160%;
    color: #200E64;

}
.student{
    font-weight: bold;
    font-size: 21px;

}
.ponto{
    font-weight: bold;
    color:  #FFC700 

}
.section-texto h4{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size:  14px;
    line-height: 22.4px;
    color: #343434;
}
.detalhe{
    width: 8.75vw;
    height: 64px;
    top:150px;
    left: 7.77%;
    float: left;
    position: absolute;
}

@media  screen and (max-width: 700px) {
    .section{
        max-width: 79.16vw;
        margin: 0 auto;
        height: 235px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        
    }
    .imagemMesa{
       display: none;
    }
    .section-texto{
        margin:0 auto;
        height: 80%;
        width: 80%;
        padding: 20px;

    }
    .section-texto h2{
     font-size: 21px;
     margin-bottom: 26px;
    
    }
    .detalhe{
        width: 64px;
        height: 64px;
        top: 120px;
        left: 66.87%;
        float: right;
        position: absolute;
    }
}